Django>=5.0,<6.0
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.1
django-crispy-forms>=2.3
crispy-bootstrap4>=2024.1
django-admin-sortable2>=2.1
setuptools<81
whitenoise>=6.6.0
stripe>=13.0.1
django-ckeditor-5>=0.2.18